/* reset */

h1,p,ul,li,figure {
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

ul,li {
    list-style: none;
}

/* mise en page => faire en sorte deavoir les deux colone une a coter de l'autre
*/

section{
    width: 700px;
    margin: 0 auto;
    display: flex;
}

section .col1{
    width: 48%;
}

section .col2{
    width: 48%;
}

section .col2 ul {
 display: flex;
 justify-content: space-between;
 margin: 10px 0;
}

section form {
    display: flex;
    flex-direction: column;
}

section form *{
    margin: 15px 0;
    padding: 8px 4px;
    border : 1px solid blue;
}

section form textarea{
    height: 80px;
}

section form button{
    background: blue;
    color: white;
    cursor: pointer;
}

/* accueil*/

.containner{
    width: 700px; /*le design a la largeur d'un ecran de tablette et de petit ecran pc*/
    margin: 0 auto;
}

header ul{/* caller le menu en haut à droite */
    display: flex;
    justify-content: flex-end;
}

header ul li { /* espace entre les liens et taille des liens */
    margin-left: 20px;
    font-size: 1.6rem;
}

.gallerie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.gallerie article{
    width: 32%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.gallerie article img{
width: 100%;
}

.gallerie article h2{
    flex:1;
}

/* formulaire */

.formulaire{
    width: 700px;
    margin: 0 auto;
}
